{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <style>
    .checked {
      color:rgb(255, 217, 50);
    }
    .my-btn {
      background-color: inherit !important;
      border: 0 !important;
    }
  </style>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="/"><img src="{% static 'img/HypeUI.png' %}" alt="Logo HypeUI" style="width: 30%;"></a>
    <form class="form-inline" method="POST" action="{% url 'main:search' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Cari Berita" aria-label="Search" name="searched">
      <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if not user.is_authenticated %}
        <li>
          <a href="/userauth/login"><button type="button" class="btn btn-success">Login</button></a>
        </li>
        {% else %}
        <li>
          {% if user.is_staff %}
          <a href="/admin"><button type="button" class="btn btn-dark">Admin</button></a>
          {% else %}
          <button type="button" class="btn btn-dark">Hi {{request.user.username}}!</button>
          {% endif %}
        </li>
        <li>
          &nbsp;&nbsp;
        </li>
        <li>
          <a href="/add_new_post"><button type="button" class="btn btn-warning">Add new Post</button></a>
        </li>
        <li>
          &nbsp;&nbsp;
        </li>
        <li>
          <a href="/userauth/logout"><button type="button" class="btn btn-danger">Logout</button></a>
        </li>
        {% endif %}
      </ul>
  </nav>
  {% block content %}
  {% endblock content %}
</body>
</html>