{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Add New Post | HypeUI</title>
{% endblock meta %}

{% block content %}
  <br>
  <div class="postform">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
  </div>
{% endblock content %}
