{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Post: {{post_detail.title}} | HypeUI</title>
{% endblock meta %}

{% block content %}
<section>
    <hr>
    <div class="container">
        <h1>{{post_detail.title}}</h1>
        <h3>By: {{author}}</h3>
        <h3>Rating: {{rating}}</h3>
        <br>
        <p>{{post_detail.body}}</p>
    </div>
    <br>
    <div>
    {% if user.is_authenticated %}
        <br>
        {% if isAuthor is True %}
        <h5 style="text-align: center;">
            <a class="btn btn-danger" href="{% url 'main:delete' post_detail.id%}" title="">
                Klik Tombol Untuk Menghapus Post
            </a>
        </h5>
        <br>
        {% else %}
        <div style="text-align: center;">
            <hr>
            <h3 style="font-weight: bold;">Beri Rating</h3>
            <form class="rate-form" action="" method="POST" id="{{post_detail.id}}">
                {% csrf_token %}
                <button type="submit" class="fa fa-star fa-3x my-btn checked" id="first"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn checked" id="second"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn checked" id="third"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
            </form>
            <br>
            <div id="confirm-box"></div>
            <hr>
            <br><br>
        </div>
        {% endif %}
    {% endif %}
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock content %}