{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Beranda | HypeUI</title>
{% endblock meta %}

{% block content %}
<br><br><br><br>
<section>
    <div class="container">
        <div class="table-responsive-lg">
            {% for post in all_news %}
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'main:detail' post.id %}" title="">{{post.title}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br><br>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
